body {
  margin: 0;
  padding: 0;
  font-family: "Gothic A1", sans-serif;
  background-color: #e6e6e6;
  color: #333;
}

.header-img {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.header-img img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.interview {
  text-align: center;
}

.interview img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.profile {
  width: 100vw;
  height: 1080px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #fff;
  padding: 60px 20px;
  box-sizing: border-box;
}

.profile-pic {
  flex: 1 1 200px;
  text-align: center;
  margin-bottom: 30px;
  margin: 0 auto;
}

.profile-pic img {
  width: 452px;
  height: 636px;
  padding: 30% 10%;
  object-fit: cover;
  border-radius: 0%;
}

.info-text {
  display: flex;
  flex: 3 1 600px;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.info-text .left,
.info-text .right {
  flex: 1 1 280px;
}

/* 기본 설정 */
.name-title {
  font-size: 20px;
  font-weight: bold;
  color: #1d3ad8;
  margin-bottom: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  color: #1d3ad8;
  margin-top: 30px;
  margin-bottom: 10px;
}

.personal-info {
  font-size: 16px;
  color: #444;
  margin-bottom: 15px;
  line-height: 1.6;
}

.edu {
  font-size: 15px;
  color: #555;
  margin-bottom: 6px;
}

.edu .date,
.award .date {
  color: #999;
  font-size: 16px;
  font-weight: normal;
  margin-right: 6px;
}

.edu .school {
  color: #1d3ad8;
  font-weight: 600;
}

.edu .school-in {
  font-weight: 100;
  color: #282828;
}

.award {
  font-size: 15px;
  color: #333;
  margin-bottom: 12px;
  line-height: 1.6;
}

.award-name {
  font-weight: bold;
  color: #d14;
}

.right .section-title {
  margin-top: 0;
}

.right p span {
  color: #333;
  font-weight: 500;
  margin-left: 4px;
  display: inline-block;
}

.tools img {
  height: 40px;
  margin: 5px;
  vertical-align: middle;
}

.bar {
  display: block;
  background: #ddd;
  height: 8px;
  border-radius: 5px;
  margin: 5px 0 15px;
  overflow: hidden;
}

.bar span {
  display: block;
  background: #2a62f2;
  height: 100%;
  border-radius: 5px;
}

.tools img {
  height: 40px;
  margin: 5px;
  vertical-align: middle;
}

.portfolio {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #eee;
  padding: 60px 20px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: 30px auto 0;
  justify-items: center;
}

.portfolio-grid img {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.contact {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #fff;
  padding: 60px 20px;
}

.contact-box {
  display: inline-block;
  background: #ddd;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.footer {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: #eee;
  padding: 60px 20px;
}

.thank-you {
  color: #57eb32;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.thank-you strong {
  color: #2a62f2;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1090px) {
  .profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%; /* 원형 */
    object-fit: cover; /* 이미지 꽉 채우기 */
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .info-text {
    flex-direction: column;
    align-items: center;
  }

  .info-text .left,
  .info-text .right {
    flex: none;
    width: 100%;
  }

  .profile-pic img {
    width: 160px;
    height: 160px;
  }

  .tools img {
    height: 30px;
  }
}
